<!DOCTYPE html>
<html class="livingcss">
<head>
  <title>{{title}}</title>

  <!-- critical path css -->
  <style>
    {{> mainStylesheet}}
  </style>
  <!-- /critical path css -->

  <!-- user styles -->
  {{#each globalStylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  <!-- /user styles -->

  <script src="https://cdn.jsdelivr.net/webcomponentsjs/0.7.21/webcomponents-lite.min.js"></script>
</head>
<body class="livingcss" style="/*background: linear-gradient( to bottom, #000, #fdfdfd 1px);*/ background-size: 100% 26px;">
  <!-- webcomponent -->
  <template id="livingcssExampleTemplate">
    <style>
    {{#each stylesheets}}
    @import "{{this}}";
    {{/each}}

    :host {
      display: block;
    }
    </style>

    <div class="livingcss__example"></div>
  </template>

  <script>
  (function(document) {
    var proto = Object.create(HTMLElement.prototype, {
      createdCallback: {
        value: function() {
          // create a shadow DOM to encapsulate user styles
          var shadow = this.createShadowRoot();
          var template = document.querySelector('#livingcssExampleTemplate');
          var clone = document.importNode(template.content, true);

          // add all childNodes of the element to the shadow DOM
          while (this.childNodes.length > 0) {
            clone.querySelector('.livingcss__example').appendChild(this.childNodes[0]);
          }

          shadow.appendChild(clone);
        }
      }
    });

    document.registerElement('livingcss-example', {prototype: proto});
  })(document);
  </script>
  <!-- /webcomponent -->

  <!-- The off-canvas menu for mobile -->
  {{#if navbar}}
    <div class="livingcss__off-canvas-menu">
      <h4 class="livingcss__off-canvas-menu-title">
        Navigation  
      </h4>

      <ul>
        {{#each navbar}}
          <li data-nav-id="{{url}}">
            <a class="livingcss__off-canvas-link livingcss__off-canvas-link--main {{#if selected}}livingcss__off-canvas-link--active{{/if}}" href="{{url}}">
              {{name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}


  <div class="livingcss__wrapper">
    <!-- The header with title, logo, and navbar -->
    <header class="livingcss__header">
      <div class="livingcss__header-title-container">
        <h1 class="livingcss__header-title">
          <a href="{{navbar.0.url}}">{{title}}</a>
        </h1>

        <div class="livingcss__header-logo">
          <img src="{{ logo_img }}">
        </div>
      </div>

      {{#if navbar}}
      <nav class="livingcss__navbar">
        {{#each navbar}}
          <a class="livingcss__navbar-link {{#if selected}}livingcss__navbar-link--active{{/if}}" href="{{url}}">
            {{name}}
          </a>
        {{/each}}
      </nav>

      <button class="livingcss__menu">{{{menuText}}}</button>
      {{/if}}
    </header>

    <div class="livingcss__content">

      <nav class="livingcss__sidenav">
        <div class="livingcss__sidenav-container">
          <ul class="livingcss__sidenav-menu1">
            {{#each sections}}
              <li class="livingcss__sidenav-parent">
                <a class="livingcss__sidenav-parent-link livingcss__sidenav-link" href="#{{id}}">{{name}}</a>
              
                {{#if children}}
                  {{#each children}}
                    <ul class="livingcss__sidenav-child-links">
                      <li>
                        <a class="livingcss__sidenav-link livingcss__sidenav-link--child" href="#{{id}}">{{name}}</a>
                      </li>
                    </ul>
                  {{/each}}
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
      </nav>

      <main class="livingcss__main" role="main">

        {{#each sections}}
        <article class="livingcss__article" id="{{id}}">
          <h2 class="livingcss__article-title">{{name}}</h2>
          
          {{~> section}}

          {{#children}}
          {{~> childSection}}
          {{/children}}
        </article>
        {{/each}}

      </main>

    </div>

    <footer class="livingcss__footer">
      
      {{#if footerText}}
        <p>
          {{ footerText }}
        </p>
      {{/if}}

      <p>
        {{{ footerHTML }}}
      </p>
    </footer>

  </div>

  <!-- prism -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/prism/1.4.1/themes/prism.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/prism/1.4.1/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/prism/1.4.1/components/prism-markup.min.js"></script>
  <!-- /prism -->

  <!-- user scripts -->
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
  <!-- /user scripts -->

  {{> mainScript}}

</body>
</html>