<div class="livingcss__section-description">
  {{{description}}}
</div>

{{#if newCat}}
  <h3>
    {{newCat.name}}
  </h3>

  <h6>
    {{newCat.description}}
  </h6>
{{/if}}

{{#if example}}
<livingcss-example>{{{example.description}}}</livingcss-example>
{{/if}}

{{#if code}}
<div class="livingcss__section-markup">
  <pre class="livingcss__section-code"><code class="language-{{code.type}}">{{code.description}}</code></pre>
</div>
{{/if}}